* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'robot';
    src: url(/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'varela';
    src: url(/Fonts/Varela_Round/VarelaRound-Regular.ttf);
}

body {
    background-color: rgb(234, 236, 212);
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    font-family: 'varela';
}

nav {
    display: flex;
    justify-content: space-between;
}



nav ul {
    display: flex;
    margin: 23px 22px;

}



nav ul li {
    /* background-color: aqua; */
    padding: 30px 90px;
    list-style: none;
    font-size: 22px;
    font-family: 'varela';
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(114, 116, 116);
}

.logo img {
    width: 12vw;
    filter: invert(1);
}

.icon {
    margin: 51px 13px;

}

.icon i {
    margin: 0px 15px;
    color: rgb(255, 5, 5);
    font-size: 20px;
    cursor: pointer;
}

.icon i:hover {
    color: rgb(252, 205, 139);
}

.main-container h1 {
    text-align: center;
    margin: 40px;
    font-size: 5vw;
}

.main-container h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 4vw;
    color: rgb(255, 89, 238);

}

.img-container {
    margin: 25px 0px;
}

.overflow-left {
    width: 30vw;
    height: 250px;
    border: 2px solid black;
    overflow: scroll;
    text-align: justify;
    margin: 0px 12px;
    box-shadow: 4px 6px 11px rgb(176, 65, 255);
    background-color: rgb(215, 250, 231);
}

.overflow-left H1 {
    text-shadow: 2px 2px 4px rgb(255, 63, 63);
}

.overflow-left h2,
P {
    margin: 7px 23px;
    color: rgb(11, 3, 7);
}

.box {
    display: flex;
    position: relative;
    left: 45%;
    bottom: 20%;
    margin: 12px;
    width: 20vw;
    border: 3px solid rgb(255, 20, 235);
    height: 250px;
    background-color: rgb(33 255 247);
    box-shadow: 6px 5px 20px rgb(33 255 247);
    border-radius: 10px 6000px;
}

.box-1 {
    display: flex;
    position: relative;
    left: 65%;
    bottom: 20%;
    margin: 39px 44px;
    width: 15vw;
    rotate: 42deg;
    border: 3px solid rgb(36, 20, 255);
    height: 250px;
    background-color: rgb(102 236 56);
    box-shadow: 6px 5px 20px rgb(20, 255, 71);
    border-radius: 10px 6000px;
}

.box-2 {
    display: flex;
    position: relative;
    left: 73%;
    margin: -141px -25px;
    width: 15vw;
    rotate: 126deg;
    border: 3px solid rgb(255, 122, 20);
    height: 250px;
    background-color: rgb(229 29 29);
    box-shadow: 6px 5px 20px rgb(229 29 29);
    border-radius: 10px 6000px;
}

.box-3 {
    display: flex;
    position: relative;
    left: 63%;
    margin: -104px 20px;
    width: 15vw;
    rotate: 180deg;
    border: 3px solid rgb(55, 255, 20);
    height: 250px;
    background-color: rgb(12 33 147);
    box-shadow: 6px 5px 20px rgb(12 33 147);
    border-radius: 10px 6000px;
}

.box-4 {
    display: flex;
    position: relative;
    left: 46.8%;
    margin: -284px 7px;
    width: 15vw;
    rotate: 270deg;
    border: 3px solid rgb(255, 255, 20);
    height: 250px;
    background-color: rgb(255 40 232);
    box-shadow: rgb(255 40 232)6px 5px 20px;
    border-radius: 10px 6000px;
}

footer {
    position: relative;
    top: 329px;
    width: 99%;
    height: 70px;
    border: 7px solid rgb(0, 121, 172);
    background-color: rgb(35, 56, 195);
    border-radius: 10px 2000px;
}

footer p {
    text-align: center;
    margin-top: 17px;
    color: white;
    font-size: 22px;

}